<!-- views/listings/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h>Here are all your loans</h>
    <a href="/loans/new">Apply for a Loan</a>
    <a href="/loans/<%= loan._id %>">View more details</a>
  </body>
</html>
