<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <a href="/">Home Page</a>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Here are all your loans</h1>
    <a href="/loans/new">Apply for a Loan</a>

    <ul>
      <% loans.forEach((loan) => { %>
      <li>
        You have a loan <%= loan.amount %>
        <a href="/loans/<%= loan._id %>">View more details</a>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
